html{
	font-size: 62,5%;
}
 

.estetica{
	text-align: center;
	font-size: 5rem;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: black;
	background-image:url("fondo.jpg");
	background-size: cover;
}

section{
	text-align: center;
	font-family: 'Bebas Neue';
	font-size: 7rem;
	background-image:url("fondo.jpg");
	background-size: cover;
}

a{
	color: black;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	font-size: 1rem;
}

a:hover{
	color: black;
	text-decoration: none;
}

 p{
	text-align: center;
	color: black;
	line-height: 60px;
	font-size: 20px;
	letter-spacing: 2px;
	margin-right: 100px;

}

#base{
	position: sticky;
}


.main{
	background-size: cover;
	flex-flow: row wrap;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
 }

 #imagen{
 	margin-left: 300px;
 }


.body{
	background-image:url("fondo.jpg");
	background-size: cover;
	border-top: white 8px groove;
	margin-left: 20px;
	margin-right: 20px;
}


.seccion{
	text-align: center;
	font-size: 2rem;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: black;
}

.ol{
	display: grid;
	grid-template-columns:repeat(2,300px);
	grid-template-rows:repeat(2, 2fr);
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	justify-content: center;
	margin-top: 60px;
}

.box{
	list-style: none;
	color: black;
	font-family: 'EB Garamond', serif;
	font-size: 2rem;
	text-align: center;
	padding: 15px;
}
  
.galeria{
	margin-top: 80px;
	margin-bottom: 20px;
	position: relative;
	margin-right: 20px;
	margin-left: 20px;
}

h5{
	color: black;
	font-size: 1.5rem;
	font-family: 'Oswald', sans-serif;
}

@media (max-width: 479px) {
	#fotos{
		height: 100px;
		width: 100px;
	}

}

@media (max-width: 767px) {
	#fotos{
		height: 200px;
		width: 200px;
	}
}


.titulos{

	color: black;
	font-size: 1rem;
	font-family: 'EB Garamond', serif;
	font-weight: bold;
}


.contacto{
	background-image:url("fondo.jpg");
	background-size: cover;
	margin-top: 60px;
    border-bottom: white 8px groove;
    
}


 footer div{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	clear: both;
	width: 100%;
	border: none 2px;
	margin-top: 10px;
}

#copy{
   font-size: 12px;

}

	
button{
	background-color: #FFF1E6;
	border:2px double;
	border-radius: 20px;
	font-size: 1rem;
	padding-left: 50px;
	padding-right: 50px;

}

.producto{
	margin-top: 50px;
	margin-left: 100px;
}

